nav{
    width: 100vw;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo{font-size: 3em;font-weight: bolder;}
.redesS{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.redesS li{list-style: none;}
.redesS li a:hover{opacity: 0.7;transition: 0.3s;}
.iconInstagram,.iconFacebook,.iconNewX,.iconWhatsapp{background-repeat: no-repeat;background-position: center;
    width: 40px;height: 40px;
}
.iconInstagram{background-image: url(../src/icon/iconInstagram.svg);}.iconFacebook{background-image: url(../src/icon/iconFacebook.svg);}.iconNewX{background-image: url(../src/icon/iconNewX.svg);}.iconWhatsapp{background-image: url(../src/icon/iconWhatsapp.svg);}

@media(max-width: 710px){
    nav{
        justify-content: center;
        padding: 20px ;
        gap: 10px;
    }
}