.presentacion{
    width: 100vw;
    height: 100vh;
    background-image: url(../src/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #000;
}
.nav{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}
.logo{
    display: none;
}
.nav object{
    position: absolute;
    height: 50px;
}
.cajamutal{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.cajamutal object{
    width: 100%;
    max-width: 600px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.edificio{
    width: 100%;
    min-width: 300px;
    height: calc(100% - 50px);
    margin-left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(255, 255, 0, 0.5); */
    background-image: url(../src/png/ediPresentacion.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apasitos{
    display: none;
}
.preSlider{
    display: none;
}

@media screen and (min-width: 667px) {
    .apasitos{
        display: block;
        /* background-color: rgba(255, 0, 255, 0.5); */
        width: 220px;
        height: calc(100% - 260px);
        background-image: url(../src/png/sliderCerca.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 20px;
    }
    .preSlider{
        /* background-color: rgba(255, 0, 0, 0.5); */
        display: block;
        width: 270px;
        height: calc(100% - 160px);
        background-image: url(../src/png/sliderCerca.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 20px;
    }
    .nav{
        width: 100vw;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        position: absolute;
        left: 50px;
        height: 80px;
        color: gainsboro;
        font-size: 3em;
        font-weight: bolder;
        /* outline: 1px solid red; */
        display: block;
        z-index: 2;
    }
    .nav object{
        /* outline: 1px solid red; */
        position: absolute;
        height: 50px;
        right: 50px;
        z-index: 2;
    }
    .edificio{
        position: absolute;
        height: 95%;
        bottom: 0;
    }
}
/* @media screen and (min-width: 1024px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 2560px) {} */
/* 640x288 */