.presentacion{
    width: 100vw;
    height: 100vh;
    background-image: url(./src/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #000;
}
.nav{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    left: 50px;
    height: 80px;
    color: gainsboro;
    font-size: 4em;
    font-weight: bolder;
    outline: 1px solid red;
    display: none;
}
.nav object{
    outline: 1px solid red;
    position: absolute;
    height: 80px;
    /* right: 50px; */
}
.cajamutal{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    outline: 1px solid green;
    bottom: 0;
    
}
.cajamutal object{
    width: 100%;
    max-width: 600px;
    /* height: 80px; */
}